<header class="flex justify-between items-center py-4 px-20">
    <img class="cursor-pointer z-50" priority routerLink="/" ngSrc="assets/images/logo/cineflow.png" alt="CineFlow Logo" width="100" height="100" />
    <nav class="z-50">
        <ul class="flex gap-4 items-center">
            <li class="cursor-pointer hover:text-gray-300 transition-colors duration-300 border border-transparent hover:border-gray-300 rounded-md px-2 py-1">
                <a routerLink="/"><fa-icon [icon]="faHome"></fa-icon> Home</a>
            </li>
            <li class="cursor-pointer hover:text-gray-300 transition-colors duration-300 bg-red-500 rounded-md px-2 py-1">
                <a routerLink="/upload"><fa-icon [icon]="faUpload"></fa-icon> Upload</a>
            </li>
        </ul>
    </nav>
</header>
