<div class="absolute top-0 left-0 w-full h-full overflow-hidden">
    <img
      src="assets/images/bg/hero.png"
      alt="CineFlow Logo"
      class="w-full h-1/2 object-cover absolute top-0 left-0 -z-0"
    />
    <div
      class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/50 to-black opacity-90 z-10"
    ></div>

    <div class="absolute left-1/2 top-[calc(50%+2rem)] -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-transparent to-black opacity-100 h-1/4 w-full z-0" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]"></div>
  </div>

  <div
    class="relative flex flex-col items-center justify-center mt-40 gap-y-40 z-10"
  >
    <div class="flex flex-col items-center justify-center gap-y-20">
        <div class="flex flex-col items-center justify-center gap-4">
            <h1 class="text-4xl font-bold text-white">Welcome to CineFlow</h1>
            <p class="text-white w-[600px] text-center text-base font-medium">
              CineFlow streams a wide range of movies and TV shows.
            </p>
          </div>
      
          <div class="flex items-center justify-center gap-4">
            <h4 class="text-white text-lg font-semibold">Have some movies to add?</h4>
            <button (click)="openModal()" class="bg-red-500 text-white px-4 py-2 rounded-md font-semibold">
              Upload <fa-icon [icon]="faFilm"></fa-icon>
            </button>
          </div>
    </div>

    <div
      class="w-[1200px] h-[144px] bg-[linear-gradient(to_right,rgba(0,0,0,0.9)_0%,#0E1B4F_15%,#8B0000_30%,#994D00_45%,#994D00_50%,#8B0000_60%,#0E1B4F_75%,rgba(0,0,0,0.9)_100%)] z-20 relative flex items-center justify-center"
    >
      <div class="flex items-center justify-center gap-4">
        <img
          src="assets/images/assorted/popcorn.png"
          alt="popcorn"
          class="size-24"
        />
        <div class="flex flex-col items-start justify-center gap-4">
          <h1 class="text-4xl font-bold text-white">Welcome to CineFlow</h1>
          <p class="text-white">The best way to watch movies online</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<app-upload 
  *ngIf="isModalOpen" 
  (closeModalEvent)="closeModal()" 
  (uploadSuccessEvent)="onUploadSuccess()"
></app-upload>